@media (max-width: 1350px) {
   .features {
      &__grid {
         grid-template-rows: repeat(3, 550px);
      }
   }
}
@media (max-width: 1200px) {
   .features {
      &__heading {
         font-size: calc(16px + 24 * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(18px + 30 * ((100vw - 320px) / (1440 - 320)));
      }
      &__text-18 {
         font-size: calc(11px + 7 * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(13px + 17 * ((100vw - 320px) / (1440 - 320)));
      }
      &__title {
         font-size: calc(15px + 13 * ((100vw - 320px) / (1440 - 320)));
      }
      &__text-16 {
         font-size: calc(12px + 6 * ((100vw - 320px) / (1440 - 320)));
         line-height: calc(12px + 15 * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .testimonials {
      padding: 135px 100px 130px;
      &__row{
         gap: 50px;
      }
   }
}
@media (max-width: 992px) {
   .promo {
      background: url('../../img/promo/image-header-smaller.jpg') center center / cover no-repeat;
      &__heading {
         font-size: calc(24px + 32 * ((100vw - 320px) / (1440 - 320)));
      }
   }
   .features {
      &__grid {
         grid-template-rows: repeat(3, 450px);
      }
      &__content {
         max-width: 72%;
      }
      &__desc {
         width: 85%;
      }
   }
   .testimonials{
      // padding: 118px 75px 103px;
      padding: 100px 55px 90px;
      &__text{
         line-height: 30px;
      }
   }
}
@media (max-width: 768px) {
   .promo {
      padding: 34px 30px 0;
      &__heading {
         letter-spacing: 5.75px;
      }
   }
   .menu {
      min-width: 340px;
      &__item {
         & a {
            font-size: 15px;
         }
         &:last-child {
            & a {
               width: 105px;
               height: 45px;
            }
         }
      }
   }
   .features {
      &__grid {
         grid-template-rows: repeat(3, 350px);
      }
      &__content {
         max-width: 78%;
      }
      &__heading {
         margin-bottom: 22px;
      }
      &__text-18 {
         margin-bottom: 22px;
      }
      &__link {
         font-size: 13px;
      }
      & .after-yellow,
      .after-pink {
         &::after {
            width: 123px;
            height: 8px;
            bottom: 13px;
         }
      }
   }
   .testimonials{
      padding: 82px 47px 85px;
      &__title{
         margin-bottom: 70px;
      }
      &__row{
         gap: 30px;
      }
      &__img{
         margin-bottom: 30px;
      }
      &__text{
         font-size: 16px;
         line-height: 23px;
         margin-bottom: 50px;
      }
   }
}
@media (max-width: 576px) {
   .promo {
      &__heading {
         font-size: calc(24px + 32 * (100vw - 320px) / 1120);
         line-height: 38px;
      }
   }
   .menu {
      display: none;
   }
   .hamburger {
      display: block;
      & span {
         display: block;
         background-color: $main-black;
         width: 35px;
         height: 4px;
         margin-bottom: 3px;
      }
   }
   .features {
      &__grid {
         grid-template-rows: repeat(3, 300px);
      }
      &__content {
         max-width: 80%;
      }
      &__text-18 {
         margin-bottom: 16px;
      }
      &__link {
         font-size: 12px;
         padding-left: 6px;
      }
      &__desc {
         bottom: 30px;
      }
      &__title {
         margin-bottom: 17px;
      }
      & .after-yellow,
      .after-pink {
         &::after {
            width: 114px;
            height: 8px;
         }
      }
   }
   .testimonials{
      padding-bottom: 55px;
      &__row{
         flex-wrap: wrap;
         justify-content: center;
         gap: 35px;
      }
      &__item{
         width: 45%;
      }
      &__text{
         margin-bottom: 33px;
      }
      &__status{
         margin-bottom: 20px;
      }
   }
}
@media (max-width: 470px) {
   .features {
      &__grid {
         grid-template-rows: repeat(3, 235px);
      }
      &__content {
         max-width: 92%;
         padding-bottom: 0;
      }
      &__heading {
         margin-bottom: 18px;
      }
      &__text-18 {
         margin-bottom: 7px;
      }
      &__link {
         font-size: 10px;
         padding-top: 6px;
         padding-bottom: 2px;
      }
      &__desc {
         bottom: 16px;
      }
      &__title {
         margin-bottom: 12px;
      }
      & .after-yellow,
      .after-pink {
         &::after {
            width: 93px;
            height: 5px;
            left: 2px;
            bottom: 8px;
         }
      }
   }
   .testimonials{
      &__item{
         width: 90%;
      }
   }
}

@media (max-width: 400px) {
   .promo {
      &__heading {
         line-height: 33px;
      }
   }
   .features {
      &__grid {
         grid-template-columns: minmax(160px, 720px);
         grid-template-rows: 312px 437px 312px 437px 490px 490px;
      }
      &__item {
         &:first-child {
            grid-row: 2/3;
         }
      }
      &__content {
         align-items: center;
         max-width: 83%;
      }
      &__heading {
         font-size: 32px;
         line-height: 38px;
         text-align: center;
         margin-bottom: 24px;
      }
      &__text-18 {
         text-align: center;
         font-size: 18px;
         line-height: 30px;
         margin-bottom: 20px;
      }
      &__link {
         font-size: 15px;
         // padding-left: 3px;
      }
      &__desc {
         bottom: 37px;
      }
      & .after-yellow,
      .after-pink {
         &::after {
            width: 137px;
            height: 10px;
            left: -3px;
            bottom: 3px;
         }
      }
      &__desc {
         width: 83%;
      }
      &__title {
         font-size: 28px;
      }
      &__text-16 {
         font-size: 16px;
         line-height: 27px;
      }
   }
}
@media (max-width: 320px) {
}
