.contacts {
   max-width: 1440px;
   margin: auto;
   &__gallery {
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 360px));
      grid-template-rows: 447px;
      & img {
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
   }

   &__info {
      height: 348px;
      padding-top: 72px;
      background: #90d4c6;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__logo {
      width: 170px;
      height: 33px;
      text-align: center;
      margin-bottom: 40px;
   }

   &__links {
      display: flex;
      gap: 37px;
      margin-bottom: 81px;
      & li {
         & a {
            color: #458d7e;
            font-family: Barlow;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            letter-spacing: -0.129px;
            padding: 10px;
            &:hover {
               color: #fff;
            }
         }
      }
   }

   &__socials {
      width: 178px;
      height: 35px;
      display: flex;
      justify-content: space-between;
      gap: 12px;
      margin-bottom: 85px;
   }

   &__social {
      padding: 7px;
      & svg {
         & path {
            &:hover {
               fill: #fff;
            }
         }
      }
   }
}
