.footer {
   background: #90d4c6;
   color: #2c7566;
   max-width: 1440px;
   margin: auto;
   padding-bottom: 20px;
   text-align: center;
   font-family: Barlow;
   font-size: 13px;
   font-weight: 400;
   & a {
      text-align: center;
      color: #2c7566;
      text-decoration: underline;
   }
}
