.testimonials {
   max-width: 1440px;
   margin: auto;
   padding: 160px 165px 150px;
   &__title {
      color: $grey-text;
      text-align: center;
      font-family: Fraunces;
      font-size: 20px;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 5px;
      margin-bottom: 81px;
   }

   &__row {
      display: flex;
      gap: 30px;
   }

   &__item {
      display: flex;
      flex-direction: column;
      width: 350px;
      align-items: center;
   }

   &__img {
      display: block;
      margin-bottom: 58px;
      width: 72px;
      height: 72px;
      border-radius: 50%;
   }

   &__text {
      text-align: center;
      margin-bottom: 69px;
      color: $main-black;
      font-family: Barlow;
      font-size: 18px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: -0.129px;
   }

   &__name {
      color: $main-black;
      font-family: Fraunces;
      font-size: 18px;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.129px;
      margin-bottom: 9px;
   }

   &__status {
      color: $grey-text;
      font-family: Barlow;
      font-size: 14px;
      font-weight: 600;
      line-height: 25px;
      letter-spacing: -0.1px;
   }
}
